@import url("reset.css");

* {
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

a {
  color: white;
  text-decoration: none;
}

ul a:hover { opacity: .7; }
body { font: normal 16px/1.5 'Source Sans Pro', sans-serif; }
h1, h2, strong { font-weight: bold; }
h2 { font-size: 2.5em; }

.container {
  position: relative;
  max-width: 80em;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: "";
  clear: both;
}

.btn {
  display: inline-block;
  font-size: 1em;
  letter-spacing: normal;
  padding: .75em 6em;
  border: 2px solid white;
  border-radius: .5em;
}

.btn:hover {
  color: #7a7f82;
  background: white;
}

section.container h2 {
  color: #7a7f82;
  text-align: center;
}

::-moz-selection { background: rgba(255, 255, 255, .9); }
::selection      { background: rgba(255, 255, 255, .9); }

/* HEADER */

header {
  color: white;
  background: #94a4b4 url("../images/header-img-precomp.png") 0 0/cover fixed no-repeat;
  height: 100vh;
  padding-top: 1em;
  text-align: center;
}

header a {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.logo,
header nav {
  display: inline-block;
  text-transform: uppercase;
}

.logo {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.075em;
  float: left;
}

header nav {
  line-height: 3.25em;
  float: right;
}

header li { display: inline-block; }
header li + li { margin-left: 2.5em; }
.jumbo { clear: both; }

.jumbo h1 {
  font-size: 3.5em;
  padding: 2em 0 .5em 0;
}

.jumbo h2 { padding-bottom: 2em; }


/* ABOUT */

.about { padding-top: 2.5em; }
.about p { padding-bottom: 1em; }
.about h2 { font-size: 3.5em; }

.profile-pic {
  height: 200px;
  width: 200px;
  margin: .75em auto 1em auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  position: relative;
  left: -100px;
}


/* PORTFOLIO */

.work { text-align: center; }
.work h2 { margin: .5em 0; }

figure {
  display: inline-block;
  position: relative;
  height: 300px;
  margin: .75em 2em;
  overflow: hidden;
}

figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
}

figure:hover figcaption {
  top: 10px;
  opacity: 1;
}

figure a {
  position: relative;
  top: 0;
}

figure:hover a { top: 60px; }

figure:hover a img {
  -webkit-filter: grayscale(100%);
  filter:         grayscale(100%);
}


/* CONTACT */

.contact {
  color: white;
  background: #cdcec0;
  text-align: center;
  padding: 2em 0 1em 0;
}

.contact p { margin: 1em 0 2em 0; }
.contact .btn { margin-bottom: 2em; }
.contact li { display: inline-block; }
.contact li + li { margin-left: 3em; }


/* FOOTER */

footer {
  color: white;
  background: #7a7f82;
  text-align: center;
  padding: 2em 0 1em 0;
}


/* HAMBURGER */

.hamburger {
  position: absolute;
  right: 3em;
  top: 2em;
  z-index: 1;
  display: none;
}

.hamburger span {
  display: block;
  background: white;
  height: 5px;
  width: 30px;
  margin-bottom: 5px;
}

#top:target > header::after {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #cdcec0;
  opacity: .9;
  content: "";
  z-index: 1;
  display: none;
}

.close {
  position: absolute;
  left: 1em;
  z-index: 3;
  display: none;
}


/* MEDIA QUERIES */

@media (max-width: 1110px) {
  .container { max-width: 50em; }

  header {
    background-attachment: scroll;
    height: 25%;
  }

  header nav { float: none; }

  header ul {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    display: none;
  }

  header li {
    display: block;
    font-size: 2em;
  }

  header nav a {
    font-weight: normal;
    letter-spacing: normal;
  }

  header li + li { margin: 1em 0 0 0; }
  .jumbo { padding-bottom: 2em; }
  .jumbo h1 { padding: .075em 0 .5em 0; }
  .jumbo h2 { padding-bottom: 1em; }

  .hamburger,
  #top:target > header::after,
  #top:target > header ul,
  #top:target > header .close { display: block; }
}

@media (max-width: 760px) {
  .jumbo { line-height: 1; }

  .container { max-width: 30em; }

  figure {
    width: 250px;
    height: 250px;
  }

  figure img { width: 100%; }
}

@media (max-width: 480px) {
  .container { max-width: 18em; }

  .hamburger {
    right: 5em;
    top: 1.5em;
  }

  header li { font-size: 1.5em; }

  figure {
    width: 200px;
    height: 200px;
  }

  figure img { width: 100%; }
  .contact li + li { margin-left: 1em; }
}